.container {
    height: 100%;
    width: 15%;
    min-width: 136px;
    position:fixed;
    @media (max-width:1055px){
        display: none;
    }
}

.PhotoInputContainer {
    width: 100%;
    height: 30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}